.navbar {
    position: fixed;
    width: 100%;
    padding: 15px 50px;
    background: #4b48d6;
    z-index: 99;
    top: 0;
    font-family: "baloo";
    a,
    button {
      color: #ffffff !important;
    }
  }
  